body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100px;
    height: 50px;
    margin: 20px;
}

#rapida {
    background-color: red;
}

#gp {
    background-color: yellow;
}

#enduro {
    background-color: green;
}

h1 {
    background-color: white;
}

#coluna {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
